--- 
layout: default 
title: Home
---

<br><br>

<div class="grid-container">
  <div class="grid-x">
    <div class="small-12 columns cell">
      <div class="posts">
        <!-- {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %} -->

        <br><br><br>

        <h1 class="heading-two">Welcome. Pull up a chair by the hearth!</h1>
        <p>My name is Jesper Brinch Korsbakke, but people online just call  me "jebkor". 👊</p>
        <p>I am a frontend developer but if you want a complete description of who I am and what I do, checkout my "About" page. It will tell you a lot more about me and my interests.</p>
        <p>This is my blog, where I will sometimes make sense, and other times just ramble.</p>
        <p>Thanks for stopping by.</p>

        <br><br><br>        

        <ul class="listing">
          {% for post in site.posts %} {% unless post.draft %} {% capture currentdate %}{{post.date | date: "%Y"}}{% endcapture %}
          {% if currentdate != thedate %}
          <h3>{{ currentdate }}</h3>
          {% capture thedate %}{{currentdate}}{% endcapture %} {% endif %}
          <li>
            <span>{{ post.date | date: "%B %e, %Y" }}</span>
            <a href="{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endunless %} {% endfor %}
        </ul>
      </div>
    </div>
  </div>
</div>