.sidebar {
    background-color: color(navigation_bg-color);
    padding: 15px;
    position: absolute;
    left: 0;
    top: 0;
    height: 100% !important;
    width: 250px;
}

.sidebar hr {
    border-color: #555;
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.sidebar img {
    border-radius: 50%;
    width: 150px;
}

.sidebar h1 {
    text-align: center;
}

.sidebar .lead.light {
    @include font-size(16px);
    color: #cecece;
}

.sidebar-links a {
    color: #cecece;
    &:hover {
        color: darken(#cecece, 10%);
    }
}

.off-canvas {
    background-color: color(navigation_bg-color);
}


.content {
    max-width: 1024px;
    padding-left: 250px;

    @include bp(phone) {
        padding-left: 0;
        padding-right: 0;

    }

    @include bp(tablet) {
        padding-left: 0;
        padding-right: 0;

    }

    @include bp(laptop) {
        padding-left: 250px;
        padding-right: 0;

    }
}