ul.wishlist {
    width: 550px;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        width: 100%;
        padding: 7px 0;
        position: relative;

        border-bottom: 1px solid #666;
        margin-bottom: 30px;
    }

    button {
        @extend %absolute-vertical;
        position: absolute;
        right: -30px;
        cursor: pointer;

        background: none;
        border: none;
        i {
            @extend %transition;
            font-size: 22px;

            &:hover {
                @extend %transition;
                color: color(first, base);
            }
        }

        &.button-edit {
            top: 30%;
        }

        &.button-delete {
            top: 60%;
        }
    }

    p {
        margin-top: 15px;
    }

    label {
        display: block;
        margin-bottom: 10px;

        &:first-child {
            font-size: calcRem(22px);
            font-weight: 600;
        }
    }

    i.fa.fa-gift {
        color: color(second, darken);
        margin-right: 15px;
    }
    i.fa.fa-link {
        color: color(second, darken);
        margin-right: 23px;
    }
    i.fa.fa-file-text-o {
        color: color(second, darken);
        margin-right: 26px;
    }
}

.wish__description__parent {
    i {
        margin-right: 20px;
        float: left;
        display: block;
    }
    .wish__description {
        margin: 0;
        overflow: hidden;
    }
}