a {
    @extend %transition;
    border-bottom: 2px solid transparent;
    color: color(second, base);
    text-decoration: none;
    
    &:hover {
        @extend %transition;
        border-bottom: 2px solid color(second, base);
        color: darken(color(second, base), 10%);
    }
}